*{ /* Universal Selecter ใช้ควบคุม Element ทั้งหมด*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
  }
  html,body{
    background-color: lightgrey;
  
  }
  .container{
    max-width: 71.25rem;
    margin: 0 auto;
  }

  nav { /*Navigation Bar หรือ แถบเครื่องมือ*/
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 1000;
    align-items: center;
  }
  .box{ /*กล่องที่ใช้รวมรวมเนื้อหาส่วนใหญ่ของหน้าเว็บ*/
    background-color: white;
    margin: 0 20px 20px 20px;
    padding: 50px 30px 30px 30px;
    justify-content: center;
  }
  .headbutton{    /*ตั้งค่าปุ่มบนแถบเมนู*/
    color: white;
    text-decoration: none;
    font-size: 1.04rem;
  }
  .menu{ /*ใช้กำหนดรูปแบบการจัดเรียง*/
    display: flex;
    list-style: none;
  }
  .menu li{ /*กำหนดระยะขอบนอกด้านล่าง*/
    margin: 0 1rem;
  }
  .logo{ /*ตั้งค่าขนาด ความสูง ความกว้างของโลโก้ และระยะพื้นที่ขอบใน*/
  height: 5rem;
  padding: 1rem 1rem;
  max-width: 5rem;
  float: left;
  }
  .department{/*ตั้งค่าขนาดและสีฟอนต์โลโก้*/
  color: white;
  font-size: 1rem;
  }
  .main-logo{/*จัดรูปแบบของกล่องโลโก้*/
  align-items: center;
  display: flex;
  }
  
  .news-header{ /*ปรับแต่งแถบหัวข้อส่วนบนของเว็บ*/
    font-size: 2rem;
    border: 2px solid black;
    background-color: rgb(182, 220, 235);
    border-radius: 5px;
    padding: 1rem;
    width: 12%;
  }
  .blog-title{ /*กำหนดขอบนอกของบล็อก*/
      margin: 2rem;
  }
  
  .blog-title h3{/*ปรับขนาด ตั้งค่าพื้นหลัง ตีกรอบ หัวข้อของบล็อก*/
    font-size: 2rem;
    padding: .5rem .5rem;
    border: 2px solid black;
    background-color: skyblue;
    border-radius: 5px;
    text-align: center;
  }
  
  .blog-con{/*จัดรูปแบบเนื้อหาภายในบล็อก*/
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      row-gap: 1rem;
  }
  
  .blog-item{/*กำหนดพื้นที่รอบๆ ไอเท็ม*/
    margin-bottom: 1rem;
    border: 2px solid lightslategray;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .blog-item img{/*ปรับจัดแต่งภาพในไอเท็ม*/
      width: 100%;
      height: auto;
      padding: 2rem;
  }
  
  .blog-item p{/*เว้นพื้นที่โดยรอบของพารากราฟ*/
    padding: 1rem;
  }
  .blog-item h3{/*เว้นพื้นที่ด้านบน และจัดขนาดฟอนต์*/
    padding-top: 1rem;
    font-size: 2rem;
  }
  
  .blog-item .blog-btn{ /*ตกแต่งปุ่มกดให้มีสีและขอบ*/
      background-color: skyblue;
      text-decoration: none;
      color: black;
      border-radius: 5px;
      padding: .5rem 1rem;
  }
  .footer-box{/*ตั้งค่าส่วนของท้ายเว็บ*/
    background-color: #333;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 2rem;
  }
  
  .social{/*ตั้งค่าเว้นพื้นที่ขอบใน */
    padding: 0 2rem 2rem 2rem;
  }
  
  .social .footer-btn{/*ตั้งค่าสีปุ่ม*/
    color: white;
  }
  
  .contact {/*กำหนดรูปแบบการจัดเรียง*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding: 2rem;
  }
  
  .ham-menu {/*ตั้งค่าจัดรูปแบบของ Ham-menu*/
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1.25rem;
  }
  
  .bar1, .bar2, .bar3 {/*กำหนดขนาดแถบเส้นของ Ham-menu*/
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
  .nav-wrapper{ /*ไว้ใช้กำหนดตั้งค่า ให้แถบเครื่องมือทั้งหมด จัดเรียงแบบ Flex และเว้นระยะห่าง*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
  }
  
  @media only screen and (min-width:1024px) {/*ถ้าหน้าจอมีขนาดมากกว่า 1024px ทำให้ Ham-menu หายไป และขยับพื้นที่กล่องใหญ่*/
    .ham-menu{
      display: none;
    }
  
    .box{
      padding: 50px 30px 30px 30px;
    }
  }
  
  @media only screen and (max-width:1024px){/*ถ้าหน้าจอต่ำกว่า 1024px ลดขนาดฟอนต์ ลดขนาดต่างๆให้ตอบสนองต่อจอที่เล็กกว่า*/
    *{
      font-size: calc(60% + 0.8vmin);
    }
    .menu-active{
      display: block !important;
    }
    .menu{
      display: none;
      width: 100%;
    }
  
    .nav-wrapper{
      padding: 0 1rem;
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-wrapper .department{
      font-size: 1.25rem;
    }
  
    .menu li{
      margin: 1rem 0;
      padding: 1rem 0.5rem;
      border-top: 1px solid #ccc;
      transition: 0.3s;
    }
  
    .menu li:hover{
      background-color: #2a2a2a;
    }
  }
  
  @media only screen and (max-width:600px) {
    .blog-con{
      grid-template-columns: 1fr;
    }

  }